@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Rubik:400,500);

body {
	margin: 0;
	background-color: gray;
	font-family: 'Rubik', sans-serif;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}
$basic-color: blue;
$cols: 12;

$responsive-labels: (
  'large': 'col-',
  'medium': 'col-m-',
  'small': 'col-s-'
);

@for $i from 1 through $cols {
  @each $point, $size in $responsive-labels {
    .#{$size}#{$i} {
      width: (100% / $cols) * $i;
    }
  }
}

.abc {
  color: $basic-color;
  text-align: center;
}
