@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Rubik:400,500);

body {
	margin: 0;
	background-color: gray;
	font-family: 'Rubik', sans-serif;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}
